#Edit:hover, #Info:hover, #Delete:hover, #Check:hover, #AddList:hover, #AddTask:hover {
    animation: flutuar 1.5s infinite;
}

#AddTask:hover, #AddList:hover {
    background-color: #44B78B;
}

#AddList:hover {
    background-color: #44B78B;
}

#Edit:hover {
    background-color: #FEC846;
}

#Info:hover {
    background-color: #2E95D3; 
}

#Delete:hover {
    background-color: #991b1b;
}

.menu-close p:hover {
    color: #44B78B;
    animation: flutuar 1.5s infinite;
}

/*DarMode*/
body.darkmode #Edit:hover {
    background-color: #FEC846;
    color: white;
}

body.darkmode #Info:hover {
    background-color: #2E95D3;
    color: white;
}

body.darkmode #Delete:hover {
    background-color: #991b1b;
    color: white;
}

body.darkmode #Check:hover {
    background-color: #19C37D;
    color: white;
}

body.darkmode #AddList:hover, body.darkmode #AddTask:hover {
    background-color: #44B78B;
    color: white;
}

/*Login and Cadastro*/
.form form input:hover {
    border-bottom: 2px solid #44B78B;
}

.form form a:hover {
    color: #44B78B;
    transition: color 0.3s ease;
}

.form form input#submit:hover {
    color: white;
    background-color: #44B78B;
    cursor: pointer;
}

#lista {
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}