/*Cor de Fundo*/
body.darkmode {
    background-color: #565869;
    transition: 0.3 ease;
}

/*Sombra de Cor Banco Para as Divs Principais*/
body.darkmode section, body.darkmode .Tasks, body.darkmode .menu-close {
    border: none;
    box-shadow: 0.5px 0.5px 4px rgba(255, 255, 255, 0.5);
    background-color: #565869;
}

/*ícones Brancos*/
body.darkmode #logo, body.darkmode .menu span, body.darkmode .opcoes span, body.darkmode #TaskTitle {
    color: white;
}

/*Configuração dos Ícones*/
body.darkmode #AddList, body.darkmode #AddTask, body.darkmode #Edit, body.darkmode #Info, body.darkmode #Delete, body.darkmode #Check {
    background-color: white;
    color: #565869;
}