/*Aplicativo*/
@media screen and (min-width: 720px) and (max-width: 1920px) {
    section {
        margin: auto;
        width: 80%;
        box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.5);
    }

    body.darkmode .Tasks {
        box-shadow: 0.5px 0.5px 4px rgba(255, 255, 255, 0.5);
    }
}


/*Login e Cadastro*/

@media screen and (min-width: 720px) and (max-width: 1920px) {
    section#CandLogin {
        box-shadow: none;
    }
}

@media screen and (max-width: 800px) {
    
    section#CandLogin {
        width: 70%;
        height: 50%;
    }

    .Saudação {
        display: none;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    
    section#CandLogin {
        width: 90%;
        height: 60%;
    }

    .Saudação {
        display: none;
    }

    .form {
        width: 100%;
    }
}

