/*Reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #EAEAEA;
    transition: 0.3s ease;
}

/*Menu*/
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*Logo*/
header p#logo {
    user-select: none;
    font: bold 1.5em sans-serif;
    color: #33373D;
}

/*Configuração do Recurso Menu*/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Ícone Menu*/
.menu span {
    font-size: 1.5em;
    color: #33373D;
    user-select: none;
}

/*Parte Interna do Recurso Menu*/
.menu-close {
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    background-color: #33334F;
    transform: translate(-200px, 30px);
    transition: 0.3s ease;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.5);
}

/*Nome Das Listas Dentro do Menu*/
.menu-close a {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/*ícone Delete*/
.menu-close p span {
    color: #991b1b;
}

/*Opções Como: Logout and DarkMode*/
.opcoes {
    display: flex;
    justify-self: center;
    align-items: center;
}

/*Configuração dos Ícones*/
.opcoes a {
    cursor: pointer;
    font-size: 1.5em;
    color: #33373D;
    text-decoration: none;
    user-select: none;
}

/*Div Principal*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 95%;
    margin: auto;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.5);
}

/*Div Pai dos Botões de Adicionar Listas e Tarefas*/
.AddListAndTask {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/*Botão de Adicionar Lista*/
#AddList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    color: white;
    font: bold 1.2em sans-serif;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.500);
    background-color: #33334F;
    transition: 0.3s ease;
    user-select: none;
}

/*Botão de Adicionar Tarefa*/
#AddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    color: white;
    font: bold 1.2em sans-serif;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.500);
    background-color: #33334F;
    transition: 0.3s ease;
    user-select: none;
}

/*Configuração da Tarefa*/
.Tasks {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.500);
}

/*Título da Tarefa*/
#TaskTitle {
    display: flex;
    align-items: center;
    user-select: none;
    width: 50%;
    font: 500 1.1em sans-serif;
    color: #33334F;
}

/*Recursos como: Editar, Descrição, Deletar e Checkar*/
#Resources {
    display: flex;
    gap: 10px;
}

#Edit, #Info, #Delete, #Check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    border: 1px solid;
    border-radius: 50%;
    background-color: #33334F;

    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}


#lista {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    transition: 1.5s;
}

#seta {
    user-select: none;
}
