<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/account.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/animation.css">
</head>
<body>
    <section id="CandLogin">
        <div class="form">
            <h1>Sign Up</h1>
            <form action="">
                <input type="text" placeholder="UserName" required minlength="8">
                <input type="password" name="" id="" placeholder="PassWord" required minlength="8">
                <input type="password" name="" id="" placeholder="Repeat PassWord" required minlength="8">
                <a href="signin">I Have an Account</a>
                <input id="submit" type="submit" value="Sign Up">
            </form>
        </div>
        <div class="Saudação">
            <h1>Welcome To ClearMind!</h1>
            <p>Organization Starts WIthin You</p>
        </div>
    </section>
</body>
</html>